{% extends "base.html" %}
{% load static %}




  
  <div class="untree_co-hero">
    <div class="container">
      <div class="row align-items-center justify-content-center">

        <div class="col-12">
          <div class="row align-items-center justify-content-between">

            <div class="col-lg-5">

              <h1 class="mb-4 heading" data-aos="fade-up" data-aos-delay="100">Enjoy Your Healthy Delicious Food</h1>
              <div class="mb-4 desc" data-aos="fade-up" data-aos-delay="200">
                <p>Another free template by <a href="https://untree.co/" target="_blank" class="link-highlight">Untree.co</a>. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
              </div>

              <p class="mb-0" data-aos="fade-up" data-aos-delay="300"><a href="#" class="btn btn-primary">See our menu</a></p>

            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <div class="hero-img-wrap">
                <span class="img-circle rotating">
                  <img src="images/circle-two.png" alt="Image" class="img-fluid">
                </span>
                <span class="img-circle rotating2">
                  <img src="images/circle-one.png" alt="Image" class="img-fluid">
                </span>
                <img src="images/bowl.png" alt="Image" class="img-fluid img-bowl">
              </div>
            </div>
          </div>

        </div>

      </div> <!-- /.row -->
    </div> <!-- /.container -->

    <ul class="list-unstyled social-hero-section mb-0">
      <li data-aos="fade-left" data-aos-delay="0"><a href="#"><span class="icon-whatsapp"></span></a></li>
      <li data-aos="fade-left" data-aos-delay="100"><a href="#"><span class="icon-instagram"></span></a></li>
      <li data-aos="fade-left" data-aos-delay="200"><a href="#"><span class="icon-facebook"></span></a></li>
      <li data-aos="fade-left" data-aos-delay="300"><a href="#"><span class="icon-twitter"></span></a></li>
    </ul>
  </div> <!-- /.untree_co-hero -->
  

  
  {% block untree_co-section %}
    <div class="untree_co-section">
      <div class="container">

        <div class="row mb-5">
          <div class="col-lg-12 text-center">
            <ul class="custom-nav js-custom-dots list-unstyled" id = "menu">
              {% for category in categories %}
                <li><a href="#">{{category}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="owl-single no-dots owl-carousel">

          {% for category in categories %}
            <div class="item">
              <div class="row mb-5">
                <div class="col-12 text-center">
                  <span class="subtitle">Menu</span>
                  <h2 class="heading">{{category}}</h2>
                </div>
              </div>
              <div class="row">

                {% for meal in meal_list %}
                  {% if meal.category == category%}
                    <div class="col-6 col-md-6 col-lg-4 mb-4">
                      <div class="product">
                        <a href="{% url 'meals:meal_detail' meal.slug %}" class="thumbnail"><img src="{{ meal.image.url }}" alt="{{ meal_detail.name }}" class="img-fluid"></a>
                        <h3 class="mb-0"><a href="{% url 'meals:meal_detail' meal.slug %}">{{meal.name}}</a></h3>
                        <strong class="price">${{meal.price}}</strong>
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}

              </div>
            </div> <!-- end breeakfast -->
          {% endfor%}
        </div>
      </div>
    </div>
  {% endblock untree_co-section %}

{% block rest %}

  <div class="untree_co-section">
    <div class="container">

      <div class="row mb-4 justify-content-center">
        <div class="col-md-7 text-center mb-5" data-aos="fade-up" data-aos-delay="0">
          <span class="subtitle">All BLOGS</span>
          <h2 class="heading">Enjoying <strong class="text-primary">Our Blogs</strong></h2>
          <p>We would like to share everything about delicacies</p>
        </div>
      </div>

      <div class="events-slider owl-carousel" data-aos="fade-up" data-aos-delay="100">

        {% for post in posts %}
        {% if forloop.counter <= 3 %}
          <div class="row align-items-center justify-content-between">
            <div class="col-lg-6">
              <img src="{{ post.image.url }}" alt="Image" style="width: 450px; height: 262px; object-fit: cover;" class="img-fluid rounded-10">
            </div>
            <div class="col-lg-5">
              <h3 class="mb-0 event-title">{{ post.title }}</h3>
              <span class="event-price d-block" style="font-size: 15px !important;">{{ post.created }}</span>
              <p class="mb-4">{{ post.content|truncatewords:35 }}</p>
              <ul class="list-unstyled ul-check primary">
                {% for tag in post.tags.all %}
                  <li>{{ tag }}</li>
                {% endfor %}
              </ul>
              <a href="{% url 'blog:post_detail' post.id %}" class="btn btn-primary">Read more</a>  <!-- Button linking to post details -->
            </div>
          </div>
        {% endif %}
      {% endfor %}
      
      
      


      </div>
    </div>
  </div> <!-- /.untree_co-section -->


  <div class="untree_co-section bg-img py-5 fixed overlay">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7 text-center">
          <h3 class="heading">Book A Table Now</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
          <p class="mb-0"><a href="book-a-table.html" class="btn btn-primary">Book a table</a></p>
          
        </div>
      </div>
    </div> <!-- .container -->
  </div> <!-- /.untree_co-section -->
  
 {% endblock rest %}
  


  <script src="js/jquery-3.4.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.fancybox.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/custom.js"></script>

