{% extends "base.html" %}


{% block untree_co-hero %}
<div class="untree_co-hero pb-0">
  <div class="container">
    <div class="row align-items-center justify-content-center">

      <div class="col-12">
        <div class="row align-items-center">

          <div class="col-lg-5 mx-auto text-center">

            <h1 class="mb-4 heading" data-aos="fade-up" data-aos-delay="100">Our Food Blog</h1>
            <div class="mb-4 desc" data-aos="fade-up" data-aos-delay="200">
              <p>Welcome to Bistro's blog! Discover culinary stories, cooking tips, and exclusive insights into our kitchen. Stay inspired with recipes and updates from our team of chefs.</p>
            </div>

            <p class="mb-0" data-aos="fade-up" data-aos-delay="300">
              <a href="{% url 'blog:post_list' %}" class="btn btn-primary">Read Our Blog</a>
            </p>

          </div>

        </div>

      </div>

    </div> <!-- /.row -->
  </div> <!-- /.container -->
</div> <!-- /.untree_co-hero -->
o -->
{% endblock untree_co-hero %}

{% block untree_co-section %}
  <div class="untree_co-section bg-1">
      <div class="container">
        <div class="row">
          {% for post in post_list %}
            <div class="col-12 mb-4">
              <div style="position: relative; overflow: hidden; border-radius: 8px;">
                  <a href="{% url 'blog:post_detail' post.id %}" style="display: block; color: white; text-decoration: none;">
                      <img src="{{post.image.url}} " alt="{{post}}" style="width: 100%; height: 35vh; object-fit: cover;">
                      <div style="position: absolute; bottom: 0; left: 0; width: 100%; background-color: rgba(0,0,0,0.5); margin: 0; padding: 10px 0; text-align: center;">
                          <h1 style="margin: 0;">{{post}}</h1>
                          <span style="display: block; font-size: 0.8em; color: #ccc;">{{ post.created|date:"Y-m-d" }}</span>
                      </div>
                  </a>
              </div>
            </div>

          {% endfor %}
        </div>
        <!-- 分页导航 -->
        <div class="container my-5">
          <div class="row">
            {% if post_list.has_other_pages %}
              <div class="col-12">
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-center">
                    <li class="page-item {% if not post_list.has_previous %}disabled{% endif %}" id="previous-page">
                      <a class="page-link" href="{% if post_list.has_previous %}?page={{ post_list.previous_page_number }}{% else %}#{% endif %}" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    {% for pages in post_list.paginator.page_range %}
                      <li class="page-item {% if post_list.number == pages %}active{% endif %}">
                        <a class="page-link" href="?page={{ pages }}">{{ pages }}</a>
                      </li>
                    {% endfor %}
                    <li class="page-item {% if not post_list.has_next %}disabled{% endif %}" id="next-page">
                      <a class="page-link" href="{% if post_list.has_next %}?page={{ post_list.next_page_number }}{% else %}#{% endif %}">Next</a>
                    </li>
                  </ul>
                </nav>
              </div>
            {% endif %}
          </div>
        </div>
        
      
        <script>
          document.addEventListener('DOMContentLoaded', function() {
            const pageLinks = document.querySelectorAll('.page-link');
          
            // Initial styling based on the class of the parent
            pageLinks.forEach(link => {
              if (link.parentNode.classList.contains('active')) {
                link.style.color = 'white';
                link.style.backgroundColor = '#CE1212';
                link.style.borderColor = '#CE1212';
              } else if (link.parentNode.classList.contains('disabled')) {
                link.style.color = 'grey';
                link.style.backgroundColor = 'white';
                link.style.borderColor = 'silver';
              } else {
                link.style.color = 'black';
                link.style.backgroundColor = 'white';
                link.style.borderColor = 'silver';
              }
            });
          
            // Dynamic styling on mouse events
            pageLinks.forEach(link => {
              link.addEventListener('mouseover', function() {
                if (!this.parentNode.classList.contains('active') && !this.parentNode.classList.contains('disabled')) {
                  this.style.color = 'white';
                  this.style.backgroundColor = '#CE1212';
                  this.style.borderColor = '#CE1212';
                }
              });
          
              link.addEventListener('mouseout', function() {
                if (!this.parentNode.classList.contains('active') && !this.parentNode.classList.contains('disabled')) {
                  this.style.color = 'black';
                  this.style.backgroundColor = 'white';
                  this.style.borderColor = 'silver';
                }
              });
            });
          });
          
        </script>
        
      
      
      
      
    </div>
    
    
  </div> <!-- /.untree_co-section -->
{% endblock untree_co-section %}
{% block working %}{% endblock working %}
{% block rest %}{% endblock rest %}