{% extends "base.html" %}
{% load bootstrap4 %}

{% block untree_co-hero %}
<div class="untree_co-hero pb-0">
  <div class="container">
    <div class="row align-items-center justify-content-center">

      <div class="col-12">
        <div class="row align-items-center">

          <div class="col-lg-5 mx-auto text-center">

            <h1 class="mb-4 heading" data-aos="fade-up" data-aos-delay="100">Contact Us</h1>
            <div class="mb-4 desc" data-aos="fade-up" data-aos-delay="200">
              <p>Have questions or need assistance? Get in touch with us! Our team is here to help you with reservations, menu inquiries, or any other questions you may have.</p>
            </div>

            <p class="mb-0" data-aos="fade-up" data-aos-delay="300">
              <a href="mailto:info@bistro.com" class="btn btn-primary">Email Us</a>
            </p>

          </div>

        </div>

      </div>

    </div> <!-- /.row -->
  </div> <!-- /.container -->
</div> <!-- /.untree_co-hero -->

  
  {% endblock untree_co-hero %}  
    
{% block untree_co-section %}
  
  <div class="untree_co-section">
    <div class="container">

      <div class="row">
        <div class="col-lg-4 mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
          <div class="contact-info">

            <div class="address mt-4">
              <i class="icon-room"></i>
              <h4 class="mb-2">Location:</h4>
              <p>43 Raymouth Rd. Baltemoer, London 3910</p>
            </div>

            <div class="open-hours mt-4">
              <i class="icon-clock-o"></i>
              <h4 class="mb-2">Open Hours:</h4>
              <p>
                Sunday-Friday:<br>
                11:00 AM - 2300 PM
              </p>
            </div>

            <div class="email mt-4">
              <i class="icon-envelope"></i>
              <h4 class="mb-2">Email:</h4>
              <p>info@untree.co</p>
            </div>

            <div class="phone mt-4">
              <i class="icon-phone"></i>
              <h4 class="mb-2">Call:</h4>
              <p>+1 1234 55488 55</p>
            </div>

          </div>
        </div>
        <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
          <form method="POST">  <!-- Ensure you have the correct URL in action -->
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">Send Message</button>
            {% endbuttons %}
          </form>
          
        </div>
      </div>
    </div>
  </div> <!-- /.untree_co-section -->
  

  {% endblock untree_co-section %}
  {% block working %}{% endblock working %}
  {% block rest %}{% endblock rest %}
  
  